.header{
    background-color: blue;
    padding: 50px;
    border: 10px solid transparent;
}
.content{
    background-color: rgb(103, 18, 183);
    padding: 100px;
    border: 80px solid transparent;
}
.footer{
    background-color: rgb(206, 42, 6);
    padding: 50px;
    border: 10px solid transparent;
}